@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #222;
  --title: #222;
  --bg: white;
  --code-bg: #232936;
  --link: #d23669;
  --pink: lab(63 59.32 -1.47);
  --purple: lab(33 42.09 -43.19);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgba(255, 255, 255, 0.88);
    --title: white;
    --bg: rgb(40, 44, 53);
    --code-bg: #191d27;
    --link: #ffa7c4;
    --pink: lab(81 32.36 -7.02);
    --purple: lab(78 19.97 -36.75);
  }
}

@layer base {
  body {
    @apply bg-bg text-text;
  }
}
